.price {
    padding-top: 60px;
    &__subtitle {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        padding: 60px 50px 0 50px;
        display: grid;
        grid-template-columns: repeat(2,370px);
        grid-template-rows: repeat(3,44px);
        column-gap: 306px;
        row-gap: 15px;
    }
    &__item {
        &-info {
            display: flex;
            justify-content: space-between;
        }
        &-name {
            position: relative;
            padding-left: 29px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 5px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
            }
        }
        &-price {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-descr {
            padding-left: 29px;
            margin-top: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}