.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 206px;
    &__title {
        width: 532px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        &:hover {
            color: #000000;
            text-decoration: none;
            // background: linear-gradient(180deg, rgba(255, 165, 1, 0.1) 6.56%, rgba(255, 165, 1, 0.0832776) 20.62%, rgba(255, 165, 1, 0.0827126) 35.21%, rgba(255, 165, 1, 0.045546) 50.83%, rgba(255, 165, 1, 0.045546) 77.92%, rgba(255, 165, 1, 0) 100%);
            // border: 1px solid #FFA501;
            // box-shadow: (-7px 8px 8px rgba(0, 0, 0, 0.25));
        }
    }
}